---
const socialIcons = [
  {
    name: 'GitHub',
    url: 'https://github.com/super16/deutsch-cheat-sheet',
    icon: 'i-uil-github',
  },
];
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  <a href='/deutsch-cheat-sheet/' title='Back to Home'>
    <h1 class='righteous md:text-5xl'>Deutsch Spickzettel</h1>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`Repository auf ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
